---
layout: "reveal.njk"
content_type: none
---

<section>
  <h2>Big picture of tech</h2>
  <h3 class="fragment">
    The forest, not the trees
  </h3>
</section>

<section>
    <h3>Plan of action</h3>
    <ol>
        <li>User journey 1: Opening a web page</li>
        <li>User journey 2: E-commerce</li>
        <li>How the things we teach fit in</li>
    </ol>
</section>

<section>
    <section>
        <h3>User journey 1: Opening a web page</h3>
    </section>

    <section>
        <h4>What happens when you access https://www.lingscars.com </h4>
        <img src="images/flow-simple-1.drawio.svg" class="fragment"/>
    </section>
 
    <section>
        <h4>What happens when you access https://www.lingscars.com </h4>
        <img src="images/flow-simple-2.drawio.svg"/>
    </section>

    <section>
        <h4>What happens when you access https://www.lingscars.com </h4>
        <img src="images/flow-simple-3.drawio.svg" height="500"/>
    </section>

    <section>
        <h4>What happens when you access https://www.lingscars.com </h4>
        <img src="images/flow-simple-4.drawio.svg" height="500"/>
    </section>
</section>

<section>
    <h3>Terminology</h3>

<section>
    <h3>HTML</h3>
    <ul>
        <li class="fragment">a file format</li>
        <li class="fragment">describes the structure of a web page</li>
        <li class="fragment">can refer to other resources</li>
    </ul>
</section>

<section>
    <h3>HTML</h3>
    <pre data-id="code-animation"><code class="hljs" data-trim data-line-numbers>

    <h3>HTML</h3>
    <ul>
        <li>a file format</li>
        <li>describes the structure of a web page</li>
        <li>can refer to other resources</li>
    </ul>

    </code></pre>
</section>

<section>
    <h3>Server</h3>
    <ul>
        <li>A computer connected to the Internet</li>
        <li class="fragment">No need for a screen or keyboard</li>
        <li class="fragment">Stores a bunch of HTML, CSS and JS files on disk</li>
        <li class="fragment">Listens for HTTP requests - clients request files</li>
        <li class="fragment">Sends HTTP responses - sends files to clients</li>
    </ul>
</section>

<section>
    <h3>Lies!</h3>
    <p class="fragment">...to children???</p>
</section>

<section>
    <h3>Client</h3>
    <ul>
        <li>A device/program that needs stuff from a server</li>
        <li class="fragment">In this case: Your web browser</li>
        <li class="fragment">Sometimes a server can be the client of another server! <span class="fragment">...Spoiler alert</span>

        </li>
    </ul>
</section>

<section>
    <h2>HTTP</h2>
    A communication protocol
    <br/><span class="fragment">== a procedure for communicating</span>

</section>


<section>
<h2>HTTP request</h2>
<blockquote style="text-align: left; font-size: 80%">
    Hey Server,<br/><br/>

    How's it hangin? <br/><br/>

    Can you please send me the html file for lingscars.com? <br/><br/>

    Hugs!<br/>
    Me :)
</blockquote>
</section>

<section>
<h2>HTTP response</h2>
<blockquote style="text-align: left; font-size: 80%">
    Hey Client,<br/><br/>

    I'm fabulous. Thanks for asking :) <br/><br/>

    The html file is attached <br/><br/>

    Cheerio<br/>
    S
</blockquote>
</section>


</section>




<section>
    <h3>User journey 2: E-commerce</h3>
    <section></section>
    <section>
        <p>Let's say you want to buy a toaster...</p>
    </section>
    <section>
        <img src="images/flow-full-1.drawio.svg"/>
    </section>
    <section>
        <img src="images/flow-full-2.drawio.svg" height="550"/>
    </section>
    <section>
        <ul>
            <li>Having a server that only stores and serves files == insufficient</li>
            <li class="fragment">Server needs to know things and make decisions</li>
            <li class="fragment">Other entities are involved, eg bank and logistics company</li>
        </ul>
    </section>

    <section>
        <h4>Zooming in...</h4>
    </section>

</section>

<section>
    <h3>How does search work?</h3>

    <section></section>

    <section>
        <img src="images/flow-search-1.drawio.svg" height="550"/>
    </section>

    <section>
        <img src="images/flow-search-2.drawio.svg" height="550"/>
    </section>

    <section>

        <p>There are 2 situations where the frontend sends http requests<p>
        <ul>
            <li>Synchronous requests: Loading a whole page</li>
            <li>Asynchronous requests: Page fetches data and then draws it</li>
        </ul>

    </section>
    <section>
        <p>AJAX = Asyncronous JavaScript and XML</p>
        <ul>
            <li>Update a web page without reloading the page</li>
            <li>Request data from a server - after the page has loaded</li>
            <li>Receive data from a server - after the page has loaded</li>
            <li>Send data to a server - in the background</li>
        </ul>
    </section>

    <section>
        <h3>HTTP</h3>
        <ul>
            <li>Not only for HTML responses, it can do JSON too</li>
            <li>In fact, it can handle many different kinds of responses
                Eg: images, csv files, pdfs, xml...
            </li>
            <li>In fact, there are even different kinds of HTTP requests for different situations</li>
        </ul>
    </section>

    <section>
        <h3>Focus on the server</h3>
        <p>There are infinitely many search terms</p>

        <span class="fragment">Every time a server gets a valid request...</span>
        <span class="fragment">It generates a response</span>
        <p class="fragment">It doesn't have all the possible responses stored as files</p>
    </section>

    <section>
        <img src="images/flow-search-3.drawio.svg" height="550"/>
    </section>

    <section>
        <h3>Introducing the database (DB)</h3>
        <ul>
            <li>A specialized program on a computer</li>
            <li>Has access to data in some structured format (think spreadsheets)</li>
            <li>Has a special query language for getting subsets of data</li>
            <li>Can search/filter/sort data on request</li>
        </ul>
    </section>

    <section>
        <p>In order to generate the correct responses...</p>

        <ul>
            <li class="fragment">Access to data, it can't just store a bunch of files</li>
            <li class="fragment">Enough smarts to generate db search queries</li>
            <li class="fragment">Enough smarts to wrangle data into responses the client can use</li>
        </ul>
    </section>

    <section>
        <h3>Server - revised definition</h3>
        <ul>
            <li class="fragment">A program/application running on a computer</li>
            <li class="fragment">Listens for HTTP requests</li>
            <li class="fragment">Creates HTTP responses
                <ul>
                    <li class="fragment">Serves "static" files</li>
                    <li class="fragment">Generate new "files" on the fly</li>
                </ul>
            </li>
            <li class="fragment">Can access other applications as needed</li>
        </ul>
    </section>

    <section>
        <h3>When people say server...</h3>

        <ul>
            <li class="fragment">They might mean a computer</li>
            <li class="fragment">They might mean an application</li>
        </ul>

    </section>

    <section>
        <img src="images/flow-search-4.drawio.svg" height="550"/>
    </section>

    <section>
        <img src="images/flow-search-5.drawio.svg" height="550"/>
    </section>

    <section>
        <h3>The client</h3>
        <ul>
            <li class="fragment">Doesn't only fetch and display stuff based on urls</li>
            <li class="fragment">It can figure out when to make requests</li>
            <li class="fragment">It can figure out what requests to make</li>
            <li class="fragment">It can interpret results</li>
            <li class="fragment">It can change what HTML gets displayed to the user</li>
        </ul>
    </section>
</section>

<section>
    <h3>More terminology</h3>

    <section>
        <h3>Backend versus frontend</h3>

        <ul>
            <li>Frontend = Client with a user interface</li>
            <li>Backend = Application running on a server</li>
        </ul>

    </section>

    <section>
    <h3>API</h3>
        <ul>
            <li>Application programming interface</li>
            <li>Allow multiple programs to communicate with each other in a well defined and predictable way</li>
            <li>Web APIS accept HTTP requests and then respond with machine-readable content (eg JSON)</li>
            <li>Very strict rules about data format because computers are stupid</li>
        </ul>
    </section>

</section>

<section>
    <h3>How does it know who I am?</h3>

    <section>
        <img src="images/flow-auth-1.drawio.svg"/>
    </section>

    <section>
        <h3>Cookies and tokens</h3>

        <ul>
            <li>Cookie != Token</li>
            <li>Different mechanisms, different superpowers</li>
            <li>Overlapping use cases</li>
            <li>Server creates a cookie or a token</li>
            <li>Client stores it</li>
            <li>Client sends it to the server on subsequent requests</li>
        </ul>

    </section>

    <section>
        <h3>But why?</h3>
        <ul>
            <li>If I try add something to your shopping basket I can't</li>
            <li>If I try to look inside your shopping basket, I can't</li>
            <li>If I create a user account after I've added stuff to my cart, the cart is associated with the new user</li>
        </ul>
    </section>

</section>

<section>
    <h3>Making payments</h3>

    <section>
        <img src="images/flow-payments-1.drawio.svg" height="550"/>
    </section>

    <section>
        <h4>Two Factor Authentication (2FA)</h4>

        <p>Prove your identity by knowing and/or having multiple things:</p>

        <ul>
            <li>You know your credit card details</li>
            <li>You have your phone app (which has been registered with the bank)</li>
            <li>You can unlock your phone</li>
            <li>You have your fingerprint or you know your password</li>
        </ul>

    </section>

    <section>
        <h4>Two clients!</h4>

        <ul>
            <li>The browser, where you access the shopping site</li>
            <li>The banking app on your phone</li>
            <li>They don't talk directly to each other</li>
            <li>They talk to their respective servers</li>
        </ul>
    </section>

    <section>
        <img src="images/flow-payments-2.drawio.svg"/>
    </section>

    <section>
        <ul>
            <li>Multiple servers</li>
            <li>Multiple clients</li>
            <li>Some servers can be clients of other servers</li>
            <li>Lots of back and forth web traffic</li>
            <li>Data must be updated accurately</li>
            <li>Security is critical</li>
            <li>Bugs cost money</li>
        </ul>
    </section>

</section>
 

<section>
    <h3>How different tech skills fit in</h3>

    <section>
        <h3>Web frontend development</h3>
        <ul>
            <li>HTML = layout </li>
            <li>CSS = styling</li>
            <li>JS = smarts + interactivity
                <ul>
                    <li>It just works in all browsers</li>
                    <li>Other languages just don't</li>
                </ul>
            </li>
        </ul>
    </section>

    <section>
        <h3>Mobile development</h3>
        <p>Many many choices for tools and frameworks</p>
        <ul>
            <li>Native code: iOS (Swift + ObjectiveC), Android (Kotlin + Java)</li>
            <li>Cross platform, not web based: Flutter</li>
            <li>Cross platform, web-friendly
                <ul>
                    <li>Ionic - web views</li>
                    <li>ReactNative - native components</li>
                </ul>
            </li>
        </ul>
    </section>

    <section>
        <h3>Server development</h3>
        <ul>
            <li>Many languages to choose from</li>
            <li>Many databases to choose from</li>
        </ul>
    </section>

    <section>
        <h3>Data scientist</h3>
        <ul>
            <li>Lots of data => lots of insights!</li>
            <li>Help business make good decisions</li>
            <li>Help business spot dangers early</li>
            <li>Help end users with good recommendations and search results</li>
            <li>Focus on getting answers, not on </li>
        </ul>
    </section>

    <section>
        <h3>Data Engineer</h3>

        <ul>
            <li>Design data structures that can store all kinds of clever things</li>
            <li>Piping data from one place to another</li>
            <li>Able to reason about distributed computing</li>
            <li>Able to make use of many kinds of databases - SQL and NoSQL</li>
            <li>Enables data scientists</li>
            <li>"Productionises" data science</li>
        </ul>
    </section>

    <section>
        <h3>Automated testing</h3>
        <ul>
            <li>Bugs cost money</li>
            <li>Bugs chase customers away</li>
            <li>The earlier you fix a bug, the cheaper it is</li>
            <li>Prevents regressions</li>
        </ul>
    </section>

    <section>
        <h3>Robotic Process Automation (RPA)</h3>

        <ul>
            <li>In a serious business, there are lots of repetitive human tasks</li>
            <li>Sometimes having humans do tasks can be...
                <ul>
                    <li>tedious</li>
                    <li>error-prone</li>
                    <li>inefficient</li>
                </ul>
            </li>
            <li>RPA lets you automate the boring stuff</li>
        </ul>
    </section>

    <section>
        <h3>Scrum master</h3>
        <ul>
            <li>Building significant software requires cross functional teams</li>
            <li>Many dependencies, tradeoffs and strong opinions</li>
            <li>Software projects tend to fail (over time and over budget) if not well managed</li>
            <li>Scrum master unlocks the potential of a team</li>
            <li>The best scrum masters can communicate effectively with techies and business</li>
        </ul>

    </section>
</section>

<section>
  <h1>&lt/presentation></h1>
</section>
